h1{
    margin: 2rem 0.5rem;
}
ul{
    li{
        list-style: none;
        float: left;
        margin-left: 0.5rem;
    }
    a{
        background-color: royalblue;
        padding: 1rem;
        border-radius: 20%;
    }
}