.bank-button {
  height: 50px;
  border: none;
  border-radius: 10%;
  background-color: #000046;
  margin-right: 15px;
}

.bank-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

// make bank button responsive as 2 columns
@media (max-width: 768px) {
  .bank-buttons {
    flex-direction: column;
  }

  .bank-button {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
}

.bank-button.active {
  background-color: #007bff;
  color: white;
}

select {
  color: #fff;
  background-color: royalblue;
  width: 10rem;
  height: 2rem;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}
